*
{
    margin: 0%;
    padding: 0%;
}

.page
{
    background-color: rgb(253, 254, 255);
    height: 100vh;
}


.navbar
{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex: 3;
    padding: 10px 0px;
}

.content
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: rgb(255, 255, 255);
}


.form
{
    background-color: rgb(250, 250, 250);
    box-shadow: black 0px 0px 6px -1px;
    border-radius: 10px;
}

form
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
}

.form form label
{
    font-weight: 400;
    font-size: 0.9em;
    margin: 6px 0px;
    font-family: 'Play', sans-serif;
}

input
{
    border: none;
    background-color: rgb(252, 240, 130);
    margin: 10px auto;
    width: 300px;
    padding: 10px 20px;
    outline: none;
    font-family: 'Play', sans-serif;

}

.loginbtn
{
    background-color: rgb(80, 134, 252);
    cursor:pointer;
    font-size: 1.2em;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Play', sans-serif;
}

select
{
    outline: none;
    border: none;
    background-color: rgb(176, 255, 139);
    padding: 2px;
    font-family: 'Play', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}


option
{
  
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    width: 170px;
    cursor: pointer;
    outline: none;
    background-color: white;
    box-shadow: black 0px 0px 6px -1px;
    font-family: 'Play', sans-serif;
}

.navbar
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 5px 10px;
    gap:4px;
}
.menubar
{
    display: flex;
    flex-direction: column;
    gap:5px;
    cursor: pointer;
}
.menu
{
    height: 2px;
    background-color: aliceblue;
    width: 20px;
    border-radius: 20px;
}
.profile{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    transition: all 1s ease-in;
    background-color: white;
    gap: 2px;
    margin-top: 3px;
}

.profile .item
{
    background-color: rgb(0, 0, 0);
    padding: 3px 4px;
    cursor: pointer;
    color: rgb(11, 255, 194);
    text-transform: uppercase;
    font-family: 'Play', sans-serif;
    font-size: 0.8em;
}

.error
{
    display: none;
    font-family: 'Play', sans-serif;
    background-color: rgb(255, 157, 157);
    justify-content: center;
    text-transform: uppercase;
    padding: 5px 0px;
    color: rgb(0, 0, 0);
}
